.posts {
    list-style-type: none;
    margin: 0 auto;
    max-width: 750px;
    padding-bottom: 2rem; 
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    img {
        border: 2px solid #eaeaea;
    }
}
h2 {
    margin-bottom: .5rem;
}

.post {
    margin: 0rem .5rem .5rem 0rem;
    width: 19rem;
    
    h3 {
        margin-bottom: 0;
    }

    a {
        background: #f4f4f4;
        color: #000000;
        display: block;
        padding: .5rem;
        text-decoration: none;
    }
    a:hover {
        background: #e4e4e4;
    }

    p {
        color: #777777;
        font-size: .8rem;
        font-style: italic;
    }
}

.page {
    a {
        background: #f4f4f4;
        color: #000000;
        display: block;
        padding: .5rem;
        text-decoration: none;
    }
    a:hover {
        background: #e4e4e4;
    }

    dfn {
        color: #777777;
        font-size: .8rem;
        margin-bottom: 2rem;
    }
}

.container {
    margin: 0 auto;
    max-width: 750px;
      
    img {
        border: 2px solid #eaeaea;
    }
}
